{% load static %}
{% block css_files  %}
    <link rel="stylesheet" href="{% static 'food_app/css/style.css' %}">
{% endblock  %}
<section class="ftco-section p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-16 text-center mb-2">
                <img src="{% static 'food_app/images/3.jpg' %}" style='object-fit:fill;width:1515px; height:400px;' alt=''>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row justify-content-between">
            <div class="col">
                <a class="navbar-brand" href="{% url 'index' %}">Papermag <span>FastFood</span></a>
            </div>
            {% if messages %}
            <div role='alert' class="alert alert-warning">     
                {% for message in messages%}{{message}}{% endfor%}
            </div>
            {%endif%}
            <div class="col d-flex justify-content-end">
                <div class="social-media">
                <p class="mb-0 d-flex">
                    <a href="https://www.facebook.com" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                    <a href="https://www.twitter.com" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                    <a href="https://www.instagram.com" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <div class="form-group d-flex">
      </div>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{% url 'list'%}" class="nav-link">Food List</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'add' %}" class="nav-link">Add Food</a></li>
            {% endif %}          

            <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" >
        <ul class="navbar-nav ms-auto">

        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'profile'%}" class="nav-link">Welcome,{{ user.username }}</a></li>
        <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link">Logout</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'login'%}" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="{% url 'register'%}" class="nav-link">Register</a></li>
        {% endif %}          
        </ul>
      </div>
    </div>
  </nav>
<!-- END nav -->

</section>
