{% extends 'layout.html' %}
{% load static %}


{% block page_title %} Profile {%endblock%}

{%block content%}

<br/><br/>
<div class="row">
    <div class="col-md-6 offset-md-3">
    <table class="table table-image">
        <td class="w-25"><img src="{{user.profile.image.url}}" class="img-fluid img-thumbnail" alt="profilepic"></td>
        <div class="col-md-0">
        <tr>
            <th style='font-family:"Times New Roman", Times, serif;font-size:25px;'>User:</th>
            <td style='font-family:"Times New Roman", Times, serif;font-size:25px;'> {{user.username}}</td>
        </tr>
        <tr>
            <th style='font-family:"Times New Roman", Times, serif;font-size:25px;'>User Location:</th>
            <td style='font-family:"Times New Roman", Times, serif;font-size:25px;'> {{user.profile.location}}</td>
        </tr>
        <tr>
            <th style='font-family:"Times New Roman", Times, serif;font-size:25px;'>User Joined Data:</th>
            <td style='font-family:"Times New Roman", Times, serif;font-size:25px;'> {{user.date_joined}}</td>
        </tr>
        <tr>
            <th style='font-family:"Times New Roman", Times, serif;font-size:25px;'>User Last Login:</th>
            <td style='font-family:"Times New Roman", Times, serif;font-size:25px;'> {{user.last_login}}</td>
        </tr>
    </table>
  </div>
  <div class="col-md-0">
    <a href="{% url 'profile-update'%}" class='btn btn-success'>Update</a>
</div>
</div>


  <br/><br/>


{%endblock%}