{% extends 'layout.html' %}
{% load static %}

{% block css_files  %}
    <link rel="stylesheet" href="{% static 'food_app/css/style.css' %}">
{% endblock  %}
{% block page_title %}Detail{%endblock%}
{% block content %}
<br/> <br/>
<div class="row">
    <div class="col-md-3 offset-md-2">
        <img class='card' height='300px' width='300px' src='/media/{{item.item_img}}' style='border:solid 3px'>
    </div>
    <div class="col-md-4">
        <table>
            <tr><th><h3>{{item.item_name}}</h3></th></tr>
            <tr><td>{{item.item_desc}}</td></tr>
            <tr><td>${{item.item_price}}</td></tr>
        </table>
    </div>

    {% if user.is_authenticated %}
    <div class="col-md-0">
        <a href="{% url 'update' item.id%}" class='btn btn-info'>Update</a>
    </div>
   {%endif%}
</div>
<br/><br/>

{%endblock%}