{% extends 'layout.html' %}
{% load static %}

{% block css_files  %}
    <link rel="stylesheet" href="{% static 'food_app/css/style.css' %}">
{% endblock  %}

{% block page_title %} Catalog {%endblock%}

{%block content%}
<br/><br/>
<table style='margin-left:50px;margin-right:100px;width:90%;'>
    {% for item in item %}
    <tr>
        <th style='width: 5%;'><img class='card' height='150px' width='200px' src='/media/{{item.item_img}}' style='border:2px solid'></th>
        <th style='width: 50%;border:2px solid;'><h3>{{item.item_name}}</h3><h5>{{item.item_desc}}</h3><h6>${{item.item_price}}</h3></th>
        <th style='width: 15%;border:2px solid;'><a href="{% url 'detail' item.id%}" class='btn btn-success'>Details</a>
            <a href="{% url 'delete' item.id%}" class='btn btn-danger'>Delete</a>
        </th>
      </tr>
    {%endfor%}
</table>
<br/>
{%endblock%}